In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_csv(r"C:\Users\DELL\Downloads\imdb_anime.csv")

In [4]:
data

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,NaN,187689,0,NaN
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,NaN,PG,74,28895,0,NaN
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,NaN,PG,46,189108,0,NaN
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,NaN,434457,0,NaN
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,NaN,82909,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,(2019– ),Tanjiro heads to his next location southeast; ...,NaN,TV-14,NaN,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,(2019– ),Tanjiro gets separated from Zenitsu when he en...,NaN,TV-MA,NaN,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",NaN,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,NaN,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",NaN,NaN,24 min,(1994–2005),NaN,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,NaN,NaN,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,(2019– ),On her very first day at Satogahama Municipal ...,NaN,NaN,NaN,6,1,Play Ball!

In [4]:
data.groupby

<bound method DataFrame.groupby of                                              Title  \
0                                        One Piece
1      Teenage Mutant Ninja Turtles: Mutant Mayhem
2                      The Super Mario Bros. Movie
3                                  Attack on Titan
4                                   Jujutsu Kaisen
...                                            ...
45712               Demon Slayer: Kimetsu no Yaiba
45713               Demon Slayer: Kimetsu no Yaiba
45714                                    One Piece
45715                                Marmalade Boy
45716                              Cinderella Nine

                              Genre User Rating Number of Votes Runtime  \
0      Animation, Action, Adventure         8.9         187,689  24 min
1      Animation, Action, Adventure         7.4          28,895  99 min
2      Animation, Adventure, Comedy         7.1         189,108  92 min
3      Animation, Action, Adventure         9.1         434,457  24 min
4      Animation, Action, Adventure         8.5          82,909  24 min
...                             ...         ...             ...     ...
45712  Animation, Action, Adventure         7.3           3,432  24 min
45713  Animation, Action, Adventure         7.9           3,309  24 min
45714  Animation, Action, Adventure         9.4           2,743     NaN
45715      Animation, Comedy, Drama         NaN             NaN  24 min
45716       Animation, Drama, Sport         6.0               6  24 min

              Year                                            Summary  \
0         (1999– )  Follows the adventures of Monkey D. Luffy and ...
1           (2023)  The film follows the Turtle brothers as they w...
2           (2023)  A plumber named Mario travels through an under...
3      (2013–2023)  After his hometown is destroyed and his mother...
4         (2020– )  A boy swallows a cursed talisman - the finger ...
...            ...                                                ...
45712     (2019– )  Tanjiro heads to his next location southeast; ...
45713     (2019– )  Tanjiro gets separated from Zenitsu when he en...
45714     (1999– )  Carrot tells Sanji the news about Pedro. Germa...
45715  (1994–2005)                                                NaN
45716     (2019– )  On her very first day at Satogahama Municipal ...

                                                   Stars Certificate  \
0      Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...       TV-14
1                                                    NaN          PG
2                                                    NaN          PG
3      Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...       TV-MA
4      Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...       TV-MA
...                                                  ...         ...
45712                                                NaN       TV-14
45713                                                NaN       TV-MA
45714  Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...       TV-14
45715  Ogie Banks,Deborah Sale Butler,John DeMita,Ric...   Not Rated
45716                                                NaN         NaN

        Metascore   Gross Episode  \
0             NaN  187689       0
1      74           28895       0
2      46          189108       0
3             NaN  434457       0
4             NaN   82909       0
...           ...     ...     ...
45712         NaN    3432       1
45713         NaN    3309       1
45714         NaN    2743       1
45715         NaN     NaN       1
45716         NaN       6       1

                                        Episode Title
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
...                                               ...
45712                                 Tsuzumi Mansion
45713        The Boar Bares Its Fangs, Zenitsu Sleeps
45714  Time for Farewell! Pudding's One Last Request!
45715  Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716                                      Play Ball!

[45717 rows x 13 columns]>

In [5]:
x=data.groupby("Title")

In [6]:
x

In [7]:
# (1)How many unique anime are there?
# Ans :- 9851
x.head().describe()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
count,14070,14070,9537,9537,10555,13944,9161,5363,5871,341,9537,14070,3266
unique,9851,201,82,2210,196,739,8286,4529,31,60,2210,3,3210
top,One Piece,"Animation, Action, Adventure",6.8,8,24 min,(2016),"A teenage girl is head of a major corporation,...","Megumi Hayashibara,Yuka Imai,Yuri Shiratori,Ak...",TV-14,74,8,0,Episode #1.1
freq,5,2267,487,163,2120,355,4,7,2026,21,163,10804,11

In [8]:
data.fillna(0)

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
0,One Piece,"Animation, Action, Adventure",8.9,"187,689",24 min,(1999– ),Follows the adventures of Monkey D. Luffy and ...,"Mayumi Tanaka,Laurent Vernin,Akemi Okamura,Ton...",TV-14,0,187689,0,0
1,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",99 min,(2023),The film follows the Turtle brothers as they w...,0,PG,74,28895,0,0
2,The Super Mario Bros. Movie,"Animation, Adventure, Comedy",7.1,"189,108",92 min,(2023),A plumber named Mario travels through an under...,0,PG,46,189108,0,0
3,Attack on Titan,"Animation, Action, Adventure",9.1,"434,457",24 min,(2013–2023),After his hometown is destroyed and his mother...,"Josh Grelle,Bryce Papenbrook,Yûki Kaji,Yui Ish...",TV-MA,0,434457,0,0
4,Jujutsu Kaisen,"Animation, Action, Adventure",8.5,"82,909",24 min,(2020– ),A boy swallows a cursed talisman - the finger ...,"Junya Enoki,Yûichi Nakamura,Adam McArthur,Yuma...",TV-MA,0,82909,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45712,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.3,"3,432",24 min,(2019– ),Tanjiro heads to his next location southeast; ...,0,TV-14,0,3432,1,Tsuzumi Mansion
45713,Demon Slayer: Kimetsu no Yaiba,"Animation, Action, Adventure",7.9,"3,309",24 min,(2019– ),Tanjiro gets separated from Zenitsu when he en...,0,TV-MA,0,3309,1,"The Boar Bares Its Fangs, Zenitsu Sleeps"
45714,One Piece,"Animation, Action, Adventure",9.4,"2,743",0,(1999– ),Carrot tells Sanji the news about Pedro. Germa...,"Mayumi Tanaka,Tom Henry,Masako Katsuki,Mami Ko...",TV-14,0,2743,1,Time for Farewell! Pudding's One Last Request!
45715,Marmalade Boy,"Animation, Comedy, Drama",0,0,24 min,(1994–2005),0,"Ogie Banks,Deborah Sale Butler,John DeMita,Ric...",Not Rated,0,0,1,Hijiri naru yoru (ivu nanoni hitori bocchi...)
45716,Cinderella Nine,"Animation, Drama, Sport",6.0,6,24 min,(2019– ),On her very first day at Satogahama Municipal ...,0,0,0,6,1,Play Ball!

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      25009 non-null  object
 3   Number of Votes  25009 non-null  object
 4   Runtime          32549 non-null  object
 5   Year             45591 non-null  object
 6   Summary          23547 non-null  object
 7   Stars            13676 non-null  object
 8   Certificate      28694 non-null  object
 9   Metascore        341 non-null    object
 10  Gross            25009 non-null  object
 11  Episode          45717 non-null  object
 12  Episode Title    34910 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [12]:
data.groupby("Gross").max()

C:\Users\DELL\AppData\Local\Temp\ipykernel_14612\2520683282.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  data.groupby("Gross").max()

,Title,Genre,User Rating,Number of Votes,Year,Episode
Gross,,,,,,
10,Zetsubo no kaibutsu,"Animation, Short, Sci-Fi",9.4,10,(2023– ),1
100,"Yondemasu yo, Azazel-san.","Animation, Fantasy, Horror",9.1,100,(2021– ),1
1000,Parasyte: The Maxim,"Animation, Fantasy, Romance",9.1,"1,000",(2021),1
1001,Spy x Family,"Animation, Action, Comedy",8.2,"1,001",(2022– ),1
1002,Pokémon,"Animation, Action, Adventure",8.4,"1,002",(2012– ),1
...,...,...,...,...,...,...
996,Tokyo Revengers,"Animation, Adventure, Fantasy",8.3,996,(2021– ),1
997,Ushio & Tora,"Animation, Action, Comedy",7.8,997,(2016–2022),1
998,Hunter x Hunter,"Animation, Action, Adventure",8.4,998,(2011–2014),1
999,Saint Seiya: Warriors of the Final Holy Battle,"Animation, Short, Fantasy",8.8,999,(2017– ),1
Gross,Title,Genre,User Rating,Number of Votes,Year,Episode

In [12]:
y=data.groupby("User Rating")

In [13]:


y

In [14]:
# (2)Which anime has the highest rating?
# Ans :- Total 5 Animies are there containg 9.9 user rating(highest)
# (8) What is the average user rating of the anime which belong to the action genre?
# Ans :- 0 (There is no Animies which is only belongs to Action Genre)
y.describe()

            Title                                                            \
            count unique                                                top
User Rating
1.0             8      4  The Tales of the Knights of the Round Table: K...
1.5             5      3                            Ogon senshi Gold Raitan
1.6             5      4                            Ogon senshi Gold Raitan
1.7             2      2                                Mars of Destruction
1.8             2      2                      Tenkuu Danzato Skelter Heaven
...           ...    ...                                                ...
9.6            42     19                                          One Piece
9.7            28     16                                          One Piece
9.8            26     14                                    Attack on Titan
9.9             6      5                                    Attack on Titan
User Rating     1      1                                              Title

                 Genre                                            \
            freq count unique                           top freq
User Rating
1.0            3     8      4   Animation, Adventure, Drama    3
1.5            3     5      3  Animation, Action, Adventure    3
1.6            2     5      4  Animation, Action, Adventure    2
1.7            1     2      2      Animation, Short, Action    1
1.8            1     2      2      Animation, Short, Action    1
...          ...   ...    ...                           ...  ...
9.6            7    42      6  Animation, Action, Adventure   35
9.7            6    28      7  Animation, Action, Adventure   19
9.8            9    26      7  Animation, Action, Adventure   18
9.9            2     6      3  Animation, Action, Adventure    4
User Rating    1     1      1                         Genre    1

            Number of Votes         ...  Gross      Episode                  \
                      count unique  ...    top freq   count unique      top
User Rating                         ...
1.0                       8      3  ...      7    5       8      2        1
1.5                       5      3  ...      8    3       5      2        1
1.6                       5      3  ...      8    3       5      2        1
1.7                       2      2  ...    897    1       2      1        0
1.8                       2      2  ...    664    1       2      1        0
...                     ...    ...  ...    ...  ...     ...    ...      ...
9.6                      42     41  ...      7    2      42      1        1
9.7                      28     28  ...      8    1      28      1        1
9.8                      26     26  ...      5    1      26      2        1
9.9                       6      6  ...     11    1       6      1        1
User Rating               1      1  ...  Gross    1       1      1  Episode

                 Episode Title         \
            freq         count unique
User Rating
1.0            7             7      7
1.5            3             3      3
1.6            3             3      3
1.7            2             0      0
1.8            2             0      0
...          ...           ...    ...
9.6           42            42     42
9.7           28            28     28
9.8           25            25     25
9.9            6             6      6
User Rating    1             1      1


                                                   top freq
User Rating
1.0                          Hibike! Chichi no ashioto    1
1.5                            Tear of Large Demon God    1
1.6                              Honoo no naka no ouji    1
1.7                                                NaN  NaN
1.8                                                NaN  NaN
...                                                ...  ...
9.6          Shougeki no saikai! Imperial X shutsugen!    1
9.7                          Hono no kazan no battle!!    1
9.8                         High-tech shudan no chosen    1
9.9                                   X City no monban    1
User Rating                              Episode Title    1

[87 rows x 48 columns]

In [15]:
n=data.groupby("Runtime")

In [16]:
# (4)Which anime has the highest and lowest runtime?
# Ans :- Total 116 Animies having the lowest runtime is 1min
#        Total 27 Animies having the highest runtime is 99min
n.describe()

          Title                                                           \
          count unique                                          top freq
Runtime
1 min       149    116      Higurashi no Naku Koro ni Kai: Ura Higu   24
1,080 min     1      1                                 Lady Georgie    1
1,250 min     1      1                                     Golgo 13    1
1,271 min     1      1                   The Wonderful Wizard of Oz    1
10 min      409    131                                      Yadamon  171
...         ...    ...                                          ...  ...
96 min       32     26                                           Up    2
97 min       41     34                    The Princess and the Frog    2
98 min       41     30                                       WALL·E    2
99 min       30     27  Teenage Mutant Ninja Turtles: Mutant Mayhem    2
Runtime       1      1                                        Title    1

          Genre                                           User Rating         \
          count unique                           top freq       count unique
Runtime
1 min       149     19              Animation, Short   81          53     30
1,080 min     1      1  Animation, Adventure, Comedy    1           1      1
1,250 min     1      1  Animation, Action, Adventure    1           1      1
1,271 min     1      1  Animation, Adventure, Family    1           1      1
10 min      409     26  Animation, Adventure, Comedy  172          97     34
...         ...    ...                           ...  ...         ...    ...
96 min       32     12  Animation, Adventure, Comedy    9          31     17
97 min       41     11  Animation, Action, Adventure   16          40     20
98 min       41     15  Animation, Adventure, Comedy    7          38     20
99 min       30     16  Animation, Action, Adventure    9          30     17
Runtime       1      1                         Genre    1           1      1

           ...    Gross      Episode                      Episode Title  \
           ...      top freq   count unique      top freq         count
Runtime    ...
1 min      ...        5    9     149      2        0  115            34
1,080 min  ...      510    1       1      1        0    1             0
1,250 min  ...      503    1       1      1        0    1             0
1,271 min  ...      331    1       1      1        0    1             0
10 min     ...        7   18     409      2        1  282           282
...        ...      ...  ...     ...    ...      ...  ...           ...
96 min     ...  1088519    2      32      1        0   32             0
97 min     ...   158709    2      41      2        0   40             1
98 min     ...  1162284    2      41      2        0   40             1
99 min     ...    28895    2      30      1        0   30             0
Runtime    ...    Gross    1       1      1  Episode    1             1


          unique                                       top freq
Runtime
1 min         34                           Insurance Agent    1
1,080 min      0                                       NaN  NaN
1,250 min      0                                       NaN  NaN
1,271 min      0                                       NaN  NaN
10 min       282        Chibikko majo ga yattekita nanbâ 1    1
...          ...                                       ...  ...
96 min         0                                       NaN  NaN
97 min         1                            Burning Mirage    1
98 min         1  Desslok's Empire in the Moment of Crisis    1
99 min         0                                       NaN  NaN
Runtime        1                             Episode Title    1

[196 rows x 48 columns]

In [17]:
l=data.groupby("Year")

In [19]:
# (6)Which is the oldest anime?
# Ans :- Matsumoto Fragment(1907)
l.describe()

             Title                                                  Genre  \
             count unique                                  top freq count
Year
(1907)           1      1                   Matsumoto Fragment    1     1
(1908)           1      1  Table Cloth Given by the North Wind    1     1
(1917)          19     19                      Namakura Gatana    1    19
(1918)          14     14                             Momotarô    1    14
(1921)           2      2                        Urashima Tarô    1     2
...            ...    ...                                  ...  ...   ...
(VII) (2015)     1      1                                 Luna    1     1
(VII) (2017)     1      1                             The Gift    1     1
(Video Game)     3      3         Jujutsu Kaisen: Cursed Clash    1     3
(Video)          8      8         Attack of the Super Monsters    1     8
Year             1      1                                Title    1     1

                                           User Rating         ...  Gross  \
             unique               top freq       count unique  ...    top
Year                                                           ...
(1907)            1  Animation, Short    1           1      1  ...    352
(1908)            1  Animation, Short    1           0      0  ...    NaN
(1917)            2  Animation, Short   18           6      5  ...    256
(1918)            1  Animation, Short   14           2      2  ...    111
(1921)            1  Animation, Short    2           0      0  ...    NaN
...             ...               ...  ...         ...    ...  ...    ...
(VII) (2015)      1  Animation, Short    1           0      0  ...    NaN
(VII) (2017)      1  Animation, Short    1           0      0  ...    NaN
(Video Game)      2         Animation    2           0      0  ...    NaN
(Video)           4  Animation, Short    3           0      0  ...    NaN
Year              1             Genre    1           1      1  ...  Gross

                  Episode                      Episode Title         \
             freq   count unique      top freq         count unique
Year
(1907)          1       1      1        0    1             0      0
(1908)        NaN       1      1        0    1             0      0
(1917)          1      19      1        0   19             0      0
(1918)          1      14      1        0   14             0      0
(1921)        NaN       2      1        0    2             0      0
...           ...     ...    ...      ...  ...           ...    ...
(VII) (2015)  NaN       1      1        0    1             0      0
(VII) (2017)  NaN       1      1        0    1             0      0
(Video Game)  NaN       3      1        0    3             0      0
(Video)       NaN       8      1        0    8             0      0
Year            1       1      1  Episode    1             1      1


                        top freq
Year
(1907)                  NaN  NaN
(1908)                  NaN  NaN
(1917)                  NaN  NaN
(1918)                  NaN  NaN
(1921)                  NaN  NaN
...                     ...  ...
(VII) (2015)            NaN  NaN
(VII) (2017)            NaN  NaN
(Video Game)            NaN  NaN
(Video)                 NaN  NaN
Year          Episode Title    1

[740 rows x 48 columns]

In [20]:
# (7)List all the anime that were released in the year 2023.
# Ans:- Total 105 Animies released in 2023 in that 78 are the Unique Animies
data.loc[data["Year"]=="(2023)"].describe()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
count,105,105,73,73,70,105,88,35,45,6,73,105,0
unique,78,27,24,49,34,1,61,26,5,3,49,1,0
top,Teenage Mutant Ninja Turtles: Mutant Mayhem,"Animation, Action, Adventure",7.4,"28,895",23 min,(2023),The film follows the Turtle brothers as they w...,"Inori Minase,Kôki Uchiyama,Abby Trott,Stephen Fu",TV-14,74,28895,0,NaN
freq,2,34,9,2,9,105,2,2,30,2,2,105,NaN

In [21]:
# (3)Which anime has a rating between 7.0 to 9.0?
# Ans :- Total 87 Animies having the user rating between 7.0 to 9.0
data.describe(percentiles=[0.7,0.9])

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
count,45717,45717,25009,25009,32549,45591,23547,13676,28694,341,25009,45717,34910
unique,9851,201,87,3033,196,740,22588,6460,33,60,3033,3,33779
top,Doraemon,"Animation, Action, Adventure",7.6,7,24 min,(1969– ),A young teen who surfs the skies with his ref ...,"Nobuyo Ôyama,Noriko Ohara,Michiko Nomura,Kazuy...",TV-14,74,7,1,Episode #1.4
freq,2758,13568,1270,567,9636,2399,25,765,10033,21,567,34909,12

In [32]:
m=data.groupby("Gross")

In [30]:
m

In [5]:
m=data.groupby("Gross")

In [34]:
m

In [35]:
# (9)Which anime has the lowest gross price?
# Ans :- Total 159 Unique Animies containing lowest Gross price(10)
# (10)Which anime has the highest gross price?
# Ans :- Total 
m.describe()

      Title                                                             Genre  \
      count unique                                             top freq count
Gross
10      471    159                                     City Hunter   38   471
100      50     25                                         Pokémon   11    50
1000      3      3           Kakuriyo: Bed & Breakfast for Spirits    1     3
1001      2      2                                    Spy x Family    1     2
1002      3      2                        JoJo's Bizarre Adventure    2     3
...     ...    ...                                             ...  ...   ...
996       3      3                                       Cat's Eye    1     3
997       4      4                                    Ushio & Tora    1     4
998       1      1                                 Hunter x Hunter    1     1
999       5      5  Saint Seiya: Warriors of the Final Holy Battle    1     5
Gross     1      1                                           Title    1     1

                                                User Rating         ...  \
      unique                           top freq       count unique  ...
Gross                                                               ...
10        42  Animation, Action, Adventure  156         471     58  ...
100       14  Animation, Action, Adventure   24          50     22  ...
1000       3   Animation, Fantasy, Romance    1           3      3  ...
1001       2     Animation, Action, Comedy    1           2      2  ...
1002       1  Animation, Action, Adventure    3           3      2  ...
...      ...                           ...  ...         ...    ...  ...
996        3  Animation, Action, Adventure    1           3      3  ...
997        2     Animation, Action, Comedy    2           4      2  ...
998        1  Animation, Action, Adventure    1           1      1  ...
999        3  Animation, Action, Adventure    3           5      4  ...
Gross      1                         Genre    1           1      1  ...

       Metascore      Episode                      Episode Title         \
             top freq   count unique      top freq         count unique
Gross
10           NaN  NaN     471      2        1  387           387    386
100          NaN  NaN      50      2        1   41            41     41
1000         NaN  NaN       3      2        0    2             1      1
1001         NaN  NaN       2      1        1    2             2      2
1002         NaN  NaN       3      1        1    3             3      3
...          ...  ...     ...    ...      ...  ...           ...    ...
996          NaN  NaN       3      2        0    2             1      1
997          NaN  NaN       4      2        1    3             3      3
998          NaN  NaN       1      1        1    1             1      1
999          NaN  NaN       5      2        1    3             3      3
Gross  Metascore    1       1      1  Episode    1             1      1


                                                     top freq
Gross
10                                          Episode #1.6    2
100                                               Gemini    1
1000                                stage: 18 Ningen'ijô    1
1001                                       Project Apple    1
1002                                Pokemon getto da ze!    1
...                                                  ...  ...
996                                            Open Fire    1
997                                         Kuroi kenshi    1
998                              Magician × and × Butler    1
999    Reitetsu hijou no kijin Kaizoku kantai soutaic...    1
Gross                                      Episode Title    1

[3033 rows x 48 columns]

In [6]:
m.describe().max()

C:\Users\DELL\AppData\Local\Temp\ipykernel_14612\3794694969.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  m.describe().max()

Title            count                                                567
                 unique                                               189
                 top                                         【Oshi No Ko】
                 freq                                                  54
Genre            count                                                567
                 unique                                                47
                 top                                                Genre
                 freq                                                 191
User Rating      count                                                567
                 unique                                                63
                 top                                          User Rating
                 freq                                                  47
Number of Votes  count                                                567
                 unique                                                 1
                 top                                      Number of Votes
                 freq                                                 567
Runtime          count                                                505
                 unique                                                46
                 freq                                                 206
Year             count                                                567
                 unique                                               136
                 top                                                 Year
                 freq                                                  54
Summary          count                                                322
                 unique                                               322
                 top       testing one from prod trivial trivia from 2010
                 freq                                                   6
Stars            count                                                193
                 unique                                               101
                 freq                                                  26
Certificate      count                                                331
                 unique                                                13
                 freq                                                 129
Metascore        count                                                  2
                 unique                                                 1
                 freq                                                   2
Episode          count                                                567
                 unique                                                 2
                 top                                              Episode
                 freq                                                 481
Episode Title    count                                                481
                 unique                                               481
                 freq                                                   2
dtype: object

In [7]:
data.groupby("Gross").max()

C:\Users\DELL\AppData\Local\Temp\ipykernel_14612\2520683282.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.max is deprecated. In a future version, a TypeError will be raised. Before calling .max, select only columns which should be valid for the function.
  data.groupby("Gross").max()

,Title,Genre,User Rating,Number of Votes,Year,Episode
Gross,,,,,,
10,Zetsubo no kaibutsu,"Animation, Short, Sci-Fi",9.4,10,(2023– ),1
100,"Yondemasu yo, Azazel-san.","Animation, Fantasy, Horror",9.1,100,(2021– ),1
1000,Parasyte: The Maxim,"Animation, Fantasy, Romance",9.1,"1,000",(2021),1
1001,Spy x Family,"Animation, Action, Comedy",8.2,"1,001",(2022– ),1
1002,Pokémon,"Animation, Action, Adventure",8.4,"1,002",(2012– ),1
...,...,...,...,...,...,...
996,Tokyo Revengers,"Animation, Adventure, Fantasy",8.3,996,(2021– ),1
997,Ushio & Tora,"Animation, Action, Comedy",7.8,997,(2016–2022),1
998,Hunter x Hunter,"Animation, Action, Adventure",8.4,998,(2011–2014),1
999,Saint Seiya: Warriors of the Final Holy Battle,"Animation, Short, Fantasy",8.8,999,(2017– ),1
Gross,Title,Genre,User Rating,Number of Votes,Year,Episode

In [10]:
m.agg(func=["max"])

C:\Users\DELL\AppData\Local\Temp\ipykernel_14612\88994898.py:1: FutureWarning: ['Runtime', 'Summary', 'Stars', 'Certificate', 'Metascore', 'Episode Title'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  m.agg(func=["max"])

,Title,Genre,User Rating,Number of Votes,Year,Episode
,max,max,max,max,max,max
Gross,,,,,,
10,Zetsubo no kaibutsu,"Animation, Short, Sci-Fi",9.4,10,(2023– ),1
100,"Yondemasu yo, Azazel-san.","Animation, Fantasy, Horror",9.1,100,(2021– ),1
1000,Parasyte: The Maxim,"Animation, Fantasy, Romance",9.1,"1,000",(2021),1
1001,Spy x Family,"Animation, Action, Comedy",8.2,"1,001",(2022– ),1
1002,Pokémon,"Animation, Action, Adventure",8.4,"1,002",(2012– ),1
...,...,...,...,...,...,...
996,Tokyo Revengers,"Animation, Adventure, Fantasy",8.3,996,(2021– ),1
997,Ushio & Tora,"Animation, Action, Comedy",7.8,997,(2016–2022),1
998,Hunter x Hunter,"Animation, Action, Adventure",8.4,998,(2011–2014),1
999,Saint Seiya: Warriors of the Final Holy Battle,"Animation, Short, Fantasy",8.8,999,(2017– ),1
Gross,Title,Genre,User Rating,Number of Votes,Year,Episode

In [8]:
data.groupby("Gross").describe()

      Title                                                             Genre  \
      count unique                                             top freq count
Gross
10      471    159                                     City Hunter   38   471
100      50     25                                         Pokémon   11    50
1000      3      3           Kakuriyo: Bed & Breakfast for Spirits    1     3
1001      2      2                                    Spy x Family    1     2
1002      3      2                        JoJo's Bizarre Adventure    2     3
...     ...    ...                                             ...  ...   ...
996       3      3                                       Cat's Eye    1     3
997       4      4                                    Ushio & Tora    1     4
998       1      1                                 Hunter x Hunter    1     1
999       5      5  Saint Seiya: Warriors of the Final Holy Battle    1     5
Gross     1      1                                           Title    1     1

                                                User Rating         ...  \
      unique                           top freq       count unique  ...
Gross                                                               ...
10        42  Animation, Action, Adventure  156         471     58  ...
100       14  Animation, Action, Adventure   24          50     22  ...
1000       3   Animation, Fantasy, Romance    1           3      3  ...
1001       2     Animation, Action, Comedy    1           2      2  ...
1002       1  Animation, Action, Adventure    3           3      2  ...
...      ...                           ...  ...         ...    ...  ...
996        3  Animation, Action, Adventure    1           3      3  ...
997        2     Animation, Action, Comedy    2           4      2  ...
998        1  Animation, Action, Adventure    1           1      1  ...
999        3  Animation, Action, Adventure    3           5      4  ...
Gross      1                         Genre    1           1      1  ...

       Metascore      Episode                      Episode Title         \
             top freq   count unique      top freq         count unique
Gross
10           NaN  NaN     471      2        1  387           387    386
100          NaN  NaN      50      2        1   41            41     41
1000         NaN  NaN       3      2        0    2             1      1
1001         NaN  NaN       2      1        1    2             2      2
1002         NaN  NaN       3      1        1    3             3      3
...          ...  ...     ...    ...      ...  ...           ...    ...
996          NaN  NaN       3      2        0    2             1      1
997          NaN  NaN       4      2        1    3             3      3
998          NaN  NaN       1      1        1    1             1      1
999          NaN  NaN       5      2        1    3             3      3
Gross  Metascore    1       1      1  Episode    1             1      1


                                                     top freq
Gross
10                                          Episode #1.6    2
100                                               Gemini    1
1000                                stage: 18 Ningen'ijô    1
1001                                       Project Apple    1
1002                                Pokemon getto da ze!    1
...                                                  ...  ...
996                                            Open Fire    1
997                                         Kuroi kenshi    1
998                              Magician × and × Butler    1
999    Reitetsu hijou no kijin Kaizoku kantai soutaic...    1
Gross                                      Episode Title    1

[3033 rows x 48 columns]

In [36]:
g=data.groupby("Certificate")

In [37]:
# (11)How many anime have the PG certification?
# Ans :- 158
data.loc[data["Certificate"]=="PG"].describe()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
count,425,425,241,241,420,423,279,20,425,140,241,425,193
unique,158,38,38,160,69,72,202,18,1,41,160,2,193
top,You're Under Arrest!,"Animation, Action, Comedy",7.7,6,24 min,(1996–2008),The film follows the Turtle brothers as they w...,"Noriko Hidaka,Rei Sakuma,Norio Wakamoto,Maria ...",PG,71,6,0,Hiroi sekai he...
freq,102,130,19,4,184,102,2,2,425,10,4,232,1

In [39]:
data.describe()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
count,45717,45717,25009,25009,32549,45591,23547,13676,28694,341,25009,45717,34910
unique,9851,201,87,3033,196,740,22588,6460,33,60,3033,3,33779
top,Doraemon,"Animation, Action, Adventure",7.6,7,24 min,(1969– ),A young teen who surfs the skies with his ref ...,"Nobuyo Ôyama,Noriko Ohara,Michiko Nomura,Kazuy...",TV-14,74,7,1,Episode #1.4
freq,2758,13568,1270,567,9636,2399,25,765,10033,21,567,34909,12

In [49]:
data.fillna(0,inplace=True)

In [51]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      45717 non-null  object
 3   Number of Votes  45717 non-null  object
 4   Runtime          45717 non-null  object
 5   Year             45717 non-null  object
 6   Summary          45717 non-null  object
 7   Stars            45717 non-null  object
 8   Certificate      45717 non-null  object
 9   Metascore        45717 non-null  object
 10  Gross            45717 non-null  object
 11  Episode          45717 non-null  object
 12  Episode Title    45717 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [67]:
data["Number of Votes"].describe()

count     45717
unique     3034
top           0
freq      20708
Name: Number of Votes, dtype: int64

In [65]:
data=data.loc["Number of Votes"].mean()

KeyError: 'Number of Votes'

In [61]:
data.describe(include=["object"])

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
count,45717,45717,45717,45717,45717,45717,45717,45717,45717,45717,45717,45717,45717
unique,9851,201,88,3034,197,741,22589,6461,34,61,3034,3,33780
top,Doraemon,"Animation, Action, Adventure",0,0,0,(1969– ),0,0,0,0,0,1,0
freq,2758,13568,20708,20708,13168,2399,22170,32041,17023,45376,20708,34909,10807

In [14]:
data.fillna(0,inplace=True)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45717 entries, 0 to 45716
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            45717 non-null  object
 1   Genre            45717 non-null  object
 2   User Rating      45717 non-null  object
 3   Number of Votes  45717 non-null  object
 4   Runtime          45717 non-null  object
 5   Year             45717 non-null  object
 6   Summary          45717 non-null  object
 7   Stars            45717 non-null  object
 8   Certificate      45717 non-null  object
 9   Metascore        45717 non-null  object
 10  Gross            45717 non-null  object
 11  Episode          45717 non-null  object
 12  Episode Title    45717 non-null  object
dtypes: object(13)
memory usage: 4.5+ MB

In [18]:
data.describe()

,Title,Genre,User Rating,Number of Votes,Runtime,Year,Summary,Stars,Certificate,Metascore,Gross,Episode,Episode Title
count,45717,45717,45717,45717,45717,45717,45717,45717,45717,45717,45717,45717,45717
unique,9851,201,88,3034,197,741,22589,6461,34,61,3034,3,33780
top,Doraemon,"Animation, Action, Adventure",0,0,0,(1969– ),0,0,0,0,0,1,0
freq,2758,13568,20708,20708,13168,2399,22170,32041,17023,45376,20708,34909,10807